{{> navbar}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{{article.headline}}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{article.fullArticle}}</p>
                </div>
                <div class="card-footer">
                    <a href="https://www.nytimes.com{{article.link}}" class="btn btn-primary">View On NYTimes</a>
                </div>
            </div>
        </div>
    </div>
    <div id="comments">
        <div class="row">
            <h3>Comments</h3>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                {{#if user}}
                <form id="commentForm" data-articleid="{{article._id}}">
                    <div class="form-group">
                        <textarea name="commentBox" id="commentBox" cols="30" rows="8" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" id="commentSubmit">Add Comment</button>
                </form>
                {{else}}
                <h2 class="text-center">Sign in to comment</h2>
                {{/if}}
            </div>
            <div class="col-md-1"></div>
        </div>
        {{#each article.comments}}
            {{> comment-block}}
        {{/each}}
    </div>
</div>
